*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: white;
    font-weight: 800;
}

.flex{
    display: flex;
}

.flex-cntr{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


/* REGOLE MENU */
#menu-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    color: #6d6d6d;
    width: 200px;
    height: calc(100vh - 70px);
    overflow: hidden;
}

    /* regole logo */
#logo{
    margin: 10px;
}

#logo-big{
    width: 150px;
}

#logo-small{
    display: none;
}

    /* regole nav */
#menu-nav{
    margin: 5px 0;
}

#menu-nav li{
    border-left: 5px solid transparent;
}

.fake-border{
    height: 3px;
    margin: 7px 25%;
    background-color: #9be52d;
}

#menu-nav li:first-child{
    border-left: 5px solid #9be52d;
}

#menu-nav svg{
    margin-left: 10px;
    width: 30px;
    filter: invert(0.5);
}

#menu-nav li:hover svg, #menu-nav li:hover{
    filter: invert(0);
    color: white;
    cursor: pointer;
}

#menu-nav span{
    font-size: 0.8rem;
    margin-left: 5px;
}

    /* regole playlist */
#playlist{
    margin: 15px;
}

#new-playlist{
    font-size: 40px;
    margin-top: 10px;
}

#new-playlist:hover span, #new-playlist:hover i{
    color: white;
    cursor: pointer;
}

#new-playlist span{
    font-size: 0.8rem;
    padding: 12px;
}

#playlist-container{
    height: calc(55vh - 180px);
    min-height: 100px;
    overflow: auto;
}

#playlist h3{
    color: white;
    font-size: 1rem;
}

#playlist-container li{
    font-size: 0.7rem;
    margin: 12px 0;
    display: block;
}

#playlist-container li:hover{
    color: white;
    cursor: pointer;
}

    /* regole account */
#account{
    background-color: #000000;
    width: 100%;
    align-self: flex-end;
}


#account-container{
    margin: 5px 15px;
}

#download svg{
    width: 20px;
    filter: invert(0.5);
}

#download:hover svg, #download:hover span{
    filter: invert(0);
    cursor: pointer;
    color: white;
}

#account-container .fake-border{
    height: 0.7px;
    background-color: #6d6d6d;
    margin: 10px 0;
}

#account-logo_circle{
    width: 30px;
    height: 30px;
}

#account-logo_circle svg:hover{
    filter: brightness(1.3);
    cursor: pointer;
}

#account-container span:hover{
    cursor: pointer;
}

#account-logo_circle svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: #6d6d6d;
}

#account-container span{
    color: white;
    margin-left: 10px;
}

#download span{
    color: #6d6d6d;
}

/* REGOLE MAIN */
main{
    background-color: #141922;
    width: calc(100vw - 200px);
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.row{
    margin: 10px;
}

.row h2{
    font-size: 1.5rem;
    margin: 20px 0;
}

    /* regole upgrade */
#upgrade{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.381);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 200px);
    z-index: 900;
}

#button{
    display: inline-block;
    font-size: 0.8rem;
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 15px;
    margin-right: 25px;
}

#button:hover{
    scale: 1.1;
    cursor: pointer;
}

    /* regole main-nav */
#main-nav{
    margin-top: 70px;
}

#main-nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#main-nav li{
    font-size: 0.8rem;
    margin-top: 15px;
}

#main-nav span{
    padding-bottom: 3px;
    border-bottom: 2px solid #9be52d;
}

#main-nav a{
    color: #75777c;
}

#main-nav a:hover{
    color: white;
}

    /* regole contenuto main  */
.container{
    display: flex;
    gap: 10px;
}

main .box{
    width: calc(100% / 6 - 10px);
    text-align: center;
}

.box img{
    width: 100%;
}

.img-hover{
    position: relative;
}

.box:hover img{
    filter: brightness(0.5);
    display: inline-block;
    cursor: pointer;
}

.box i{
    display: none;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 50% -50%;
}

.box:hover i, .box{
    display: block;
    cursor: pointer;
}

.box h4{
    font-size: 1rem;
    margin: 10px 0;
}

.box span{
    color: #6d6d6d;
    font-size: 0.7rem;
}

.box.circle img{
    border-radius: 50%;
}


/* REGOLE PLAYER */
#player{
    background-color: #282828;
    height: 70px;
    width: 100vw;
    justify-content: space-between;
}

.box-player{
    margin: 0 10px;
    }

    /* regole sezione song */
.box-player img{
    width: 50px;
}

.box-player h5{
    font-size: 0.75rem;
}

.box-player h5:hover {
    cursor: pointer;
}

.box-player span:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.box-player span{
    color: #6d6d6d;
    font-size: 0.65rem;
}

.box-player i{
    margin: 5px;
    color: #6d6d6d;
    font-size: 1rem;
}

.box-player i:hover{
    color: white;
    cursor: pointer;
}

    /* regole sezione play */
#play{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 170px;
    width: 40vw;
}

#play .box-player i{
    font-size: 1.2rem;
    margin: 0 10px;
    color: white;
}

#play .box-player i:hover{
    scale: 1.1;
}

#play .box-player i:nth-child(3){
    margin: 0 20px;
    font-size: 1.5rem;
}

#play .box-player i:nth-child(3):hover{
    scale: 1.2;
}

#fakeplayer{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listen-progress{
    height: 3px;
    width: 50%;
    border-radius: 10px;
    background-color: #6d6d6d;
    margin: 0 20px;
}

.progress{
    height: 3px;
    width: 20%;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.listen-progress:hover .progress::after{
    content: "";
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    translate: 50% -30%;
}

.listen-progress:hover .progress{
    background-color: #9be52d;
    cursor: pointer;
}

.listen-progress:hover{
    cursor: pointer;
}

    /* regole sezione volume */
#volume-bar{
    display: flex;
    align-items: center;
}

#volume-bar .listen-progress{
    width: 70px;
}

#volume i{
    margin-left: 15px;
    font-size: 1rem;
}

#volume i:hover{
    cursor: pointer;
    scale: 1.1;
}

/* REGOLE VISUALIZZAZIONE MD */
@media screen and (max-width:1020px) {

    /* REGOLE MAIN */
    #main-nav ul{
        flex-wrap: wrap;
    }

    .container{
        flex-wrap: wrap;
    }

    main .box{
        width: calc(100% / 4 - 10px);
    }

    .box h4{
        font-size: 0.8rem;
    }    
}

/* REGOLE VISUALIZZAZIONE S */
@media screen and (max-width:710px) {

    /* REGOLE MAIN */
    #main-nav li{
        font-size: 0.65rem;
    }

    .row h2{
        font-size: 1.3rem;
    }

    main .box{
        width: calc(100% / 2 - 10px);
    }

    /* REGOLE PLAYER */
    #song .box-player:first-child{
        display: none;
    }

    .box-player i{
        font-size: 0.8rem;
        margin: 2px;
    }

    #volume i{
        font-size: 0.8rem;
        margin-left: 5px;
    }  
    
    #play .box-player i{
        font-size: 1rem;
        margin: 0 5px;
    }

    #play .box-player i:nth-child(3){
        font-size: 1.3rem;
        margin: 0 10px;
    }

    .listen-progress{
        margin: 0px 10px;
    }
}

/* REGOLE VISUALIZZAZIONE XS */
@media screen and (max-width:506px) {

    /* REGOLE MENU */
    #menu-container{
        width: 50px;
    }

    #logo-small{
        display: inline-block;
        width: 30px;
    }

    #logo-big{
        display: none;
    }

    #menu-nav svg{
        margin-left: 6px;
    }

    .nav-description{
        display: none;
    }

    #playlist{
        display: none;
    }

    #download{
        margin: 0 -1.5px;
    }

    #account-container span{
        display: none;
    }

    .account-container #fake-border{
        display: none;
    }

    #account-logo_circle svg {
        height: 70%;
    }

    /* REGOLE MAIN */
    main{
        width: calc(100vw - 50px);
    }   
    
    #upgrade{
        width: calc(100vw - 50px);
    }
}