*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

#menu{
    background-color: #000000;
    width: 200px;
    height: calc(100vh - 80px);
}

main{
    background-color: #141922;
    width: calc(100vw - 200px);
    height: calc(100vh - 80px);
}

#player{
    background-color: #282828;
    height: 80px;
}

.flex{
    display: flex;
}

@media screen and (max-width:320px) {
    #menu{
        width: 50px;
    }

    main{
        width: calc(100vw - 50px);
    }    

}

